/* control pane */
* {
  color:            #cdd6f4;

  all: unset;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.6);
  font-size: 14px;
  font-family: "JetBrains Mono Nerd Font 10";
  transition: 200ms;

}

/* Avoid 'annoying' backgroud */
.blank-window {  
  background: transparent;  
}
  
/* CONTROL CENTER ------------------------------------------------------------------------ */

.control-center {
  background: alpha(#1e1e2e, .55);
  border-radius: 24px;
  border: 1px solid #585b70;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.6);
  margin: 18px;
  padding: 12px;
}

/* Notifications  */
.control-center .notification-row .notification-background,
.control-center .notification-row .notification-background .notification.critical {
  border: 1px solid #585b70;
  background-color: #1e1e2e;
  border-radius: 16px;
  margin: 4px 0px;
  padding: 4px;
}

.control-center .notification-row .notification-background .notification.critical {
  color: #f38ba8;
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 6px;
  padding: 8px 6px 2px 2px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action {
  background: alpha(#585b70, .6);
  color: #cdd6f4;
  border-radius: 12px;
  margin: 6px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  background: #585b70;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  background-color: #585b70;
}

/* Buttons */

.control-center .notification-row .notification-background .close-button {
  border: 1px solid #585b70;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.6);
  background: transparent;
  border-radius: 6px;
  color: #cdd6f4;
  margin: 0px;
  padding: 4px;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: #585b70;
}

.control-center .notification-row .notification-background .close-button:active {
  background-color: #585b70;
}

progressbar,
progress,
trough {
  border-radius: 12px;
}

progressbar {
  background-color: rgba(255,255,255,.1);
}

/* Notifications expanded-group */

.notification-group {
  margin: 2px 8px 2px 8px;
}
.notification-group-headers {
  font-weight: bold;
  font-size: 1.25rem;
  color: #cdd6f4;
  letter-spacing: 2px;
}

.notification-group-icon {
  color: #cdd6f4;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  border: 1px solid #585b70;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.6);
  background: transparent;
  color: #cdd6f4;
  margin: 4px; 
  border-radius: 6px;
  padding: 4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
  border: 1px solid #585b70;
  background: #313244;
}  

/* WIDGETS --------------------------------------------------------------------------- */

  /* Notification clear button */
.widget-title {
  font-size: 1.2em;
  margin: 6px;
}

.widget-title button {
  border: 1px solid #585b70;
  background: #1e1e2e;
  border-radius: 6px;
  padding: 4px 16px;
}

.widget-title button:hover {
  background-color: #313244;
}

.widget-title button:active {
  background-color: #585b70;
}

  /* Do not disturb */
.widget-dnd {
  margin: 6px;
  font-size: 1.2rem;
}

.widget-dnd > switch {
  border: 1px solid #585b70;
  background: #1e1e2e;
  font-size: initial;
  border-radius: 8px;
  box-shadow: none;
  padding: 2px;
}

.widget-dnd > switch:hover {
  background: #313244;
}

.widget-dnd > switch:checked {
  background: #585b70;
}

.widget-dnd > switch:checked:hover {
  background: #313244;
}

.widget-dnd > switch slider {
  background: #cdd6f4;
  border-radius: 6px;
}

  /* Buttons menu */
.widget-buttons-grid {
  border: 1px solid #585b70;
  font-size: x-large;
  padding: 6px 2px;
  margin: 6px;
  border-radius: 12px;
  background: #1e1e2e;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
  border: 1px solid #585b70;
  margin: 4px 10px;
  padding: 6px 12px;
  background: transparent;
  border-radius: 8px;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background: #313244;
}


  /* Music player */
.widget-mpris {
    background: #1e1e2e;
    border: 1px solid #585b70;
    border-radius: 16px;
    color: #cdd6f4;
    margin:  20px 6px;
}

  /* NOTE: Background need *opacity 1* otherwise will turn into the album art blurred  */
.widget-mpris-player {
    background-color: #1e1e2e;
    border-radius: 22px;
    padding: 6px 14px;
    margin: 6px;
}

.widget-mpris > box > button {
  color: #cdd6f4;
  border-radius: 20px;
}
 
.widget-mpris button {
  color: alpha(#cdd6f4, .6);
}

.widget-mpris button:hover {
  color: #cdd6f4;
}

.widget-mpris-album-art {
  border-radius: 16px;
}
 
.widget-mpris-title {
    font-weight: 700;
    font-size: 1rem;
}
 
.widget-mpris-subtitle {
    font-weight: 500;
    font-size: 0.8rem;
}

/* Volume */
.widget-volume {
  background: #1e1e2e;
  color: #1e1e2e;
  padding: 4px;
  margin: 6px;
  border-radius: 6px;
}

/* notifications */
* {
  color: #cdd6f4;

  all: unset;
  font-size: 14px;
  font-family: "JetBrains Mono Nerd Font 10";
  transition: 200ms;

}

.notification-row {
  outline: none;
  margin: 0;
  padding: 0px;
}

.floating-notifications.background .notification-row .notification-background {
  background: alpha(#1e1e2e, .55);
  box-shadow: 0 0 8px 0 rgba(0,0,0,.6);
  border: 1px solid #585b70;
  border-radius: 24px;
  margin: 16px;
  padding: 0;
}

.floating-notifications.background .notification-row .notification-background .notification {
  padding: 6px;
  border-radius: 12px;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
  border: 2px solid #f38ba8;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
  margin: 14px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 8px;
  background-color: #1e1e2e;
  margin: 6px;
  border: 1px solid transparent;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  background-color: #313244;
  border: 1px solid #585b70;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  background-color: #585b70;
  color: #1e1e2e;
}

.image {
  margin: 10px 20px 10px 0px;
}

.summary {
  font-weight: 800;
  font-size: 1rem;
}

.body {
  font-size: 0.8rem;
}

.floating-notifications.background .notification-row .notification-background .close-button {
  margin: 6px;
  padding: 2px;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid transparent;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
  border: 1px solid #585b70;
  background-color: #585b70;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
  background-color: #585b70;
  color: #1e1e2e;
}

.notification.critical progress {
  background-color: #585b70;
}

.notification.low progress,
.notification.normal progress {
  background-color: #585b70;
}
